@import "tailwindcss";

:root {
  --font-body: system-ui, sans-serif;
  --font-heading: system-ui, sans-serif;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #EEEDE7;
  border-radius: 4px;
}  
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
